

.forgot-password-container {
    background-color: #E7EBF2;
  
}



.forgot-password {
    display: flex;
    justify-content: center;
    height: 623px;
    background-image: url(../../../assets/images/background2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.containerr {
    margin-top: 60px;
    background-color: white;
    width: 450px;
    ;
    border-radius: 10px;
    padding: 60px;
    gap: 32px;
    height: fit-content;
    
}

.containerr>* {
    margin-bottom: 15px;
}

.forgot-password h2 {
    font-family: Abhaya Libre;

    font-weight: 700;
    font-size: 45px;
    line-height: 53.09px;
    letter-spacing: 0%;
    color: #2A7CC7;
}

.forgot-password h3 {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: 0%;
    color: #153060;
}

.forgot-password p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #828282;
}


.forgot-password .input-field label {
    display: block;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #153060;
}

.forgot-password .input-field input {
    width: 350px;
    height: 56px;
    border-radius: 5px;
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
    gap: 10px;
    border-width: 1px;
    color: #153060;
    border: 1px solid #EAEAEA
}


.forgot-password button {
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 5px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    gap: 10px;
    background-color: #2A7CC7;
    color: #FFFFFF;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    transition: background 100ms ease;

}

.forgot-password button:hover{
    background-color: #2a7bc7bd;
}


.forms-header {
    display: flex;
    justify-content: end;
    padding: 20px 30px 0 0;


}


.forms-header button {
    width: 158px;
    height: 52px;
    top: 36px;
    left: 1557px;
    border-radius: 5px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;
    background-color: #2A7CC7;
    border: none;
    color: white;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    transition: background 100ms ease;
}

.forms-header button:hover{
    background-color: #2a7bc7bd;
}