.forgot-password .input-field .eye-icon {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 20;
    height: 14;
color: #001A72; 
   border-width: 1.5px;

}


.forgot-password .input-field .eye-icon.closed {
top: 16px;
}




