.allclasses{
    padding: 20px;
    font-family: Arial, sans-serif;
}

.classes-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

.classes-title{
  
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
color: #164666;
margin-bottom: 50px;
}

.group-card {
    padding: 10px;
    width: 322px;
    min-height: 180px;
    background-color: #FCFDFF;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    margin-bottom: 20px;
}

.group-card:hover{
    transform: translate(0, -15px);
    transition: transform 1s;
}



.group-card .title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -4%;
    color: #000066;
    padding-bottom: 8px;
    border-bottom: 2px solid #000066;
  margin-bottom: 30px;
}



.group-card .description div {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -4%;
    
    color: #374151;
}