.parent-header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
}

.parent-header .ssearch-container {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  width: 280px;
  margin-left: -8px;
}

 .parent-header .ssearch-icon {
  color: #1e40af;
  font-size: 16px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.parent-header .ssearch-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;

  
}

.parent-header .notification-button {



  background: none;
  border: none;
  color: #1e40af;
  font-size: 22px;
  cursor: pointer;
  
}


.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.notification-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 50%;
  line-height: 1;
  min-width: 16px;
  text-align: center;
}
