.all-students {

    display: flex;
    justify-content: center;
    height: 480px;
    font-family: Poppins;
   
}

.all-students .table-wrapper{
    width: 95%;
    background-color: #fff;
    border-radius: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}


.all-students table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  .all-students td,
  .all-students th {
    padding: 8px 10px;
    margin: 0;
  text-align: left;
    line-height: 1.2;
    font-size: 14px;

  
  }
  
  .all-students thead tr {
    margin: 0;
    height: 50px; 
    
  }

  .all-students tbody tr {
    margin: 0;
    height: 71px; 
    border-top: 1px solid #DBDBDB;
   
  }


  .all-students tbody tr.clicked{
    border-left: 5px solid #4D44B5;
  }


  .all-students td .contact{
    display: flex;
    justify-self: start;
    gap: 20px;
  }


  .all-students table input[type="checkbox"] {
  
    width: 24px;
height: 24px;

border-radius: 4px;

accent-color: #4f46e5;
  }


  .all-students thead tr th{

font-weight: 600;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #303972;

  }

  .all-students tbody .name {
    display: flex;
    align-items: center; 
    gap: 12px; 
    height: inherit;
   

    cursor: pointer;


  }

.all-students tbody .name span{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
  .all-students tbody tr .photo{
    display: inline-block;
    width: 48px;
height: 48px;
border-radius: 40px;

    background-color: #C1BBEB;
    
    
  }


  .all-students table tr .id {
   color: #4D44B5;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    
  }


  .all-students table tr .parent-name {
    color: #303972;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    
  }  
  .all-students table tr  .city{
    color: #303972;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    
  }
  .all-students table tr .date{
    color: #A098AE;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    
  }
 
  .all-students table tr .contact div{
    width: 30px;
    height: 30px;
  background-color: #F3F4FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
    
  }


  
  .all-students table tr .contact div img {
    width: 19px;
    height: 19px;
   cursor: pointer;
   
    object-fit: contain;

    vertical-align: middle;
  }

  .all-students table tr .grade div{
    width: 80px;
    height: 40px;
   
    border-radius: 40px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    background-color: #FB7D5B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color:#FFFFFF;
  }


  .all-students table tr .status div{
    width: 120px;
    height: 40px;
    
    border-radius: 40px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
  
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    display: flex;
justify-content: center;
align-items: center;
  }

  .all-students table tr .action div {
display: flex;
justify-content: center;
  }

  .all-students table tr .action img{
    width: 24px;
height: 24px;


  }


  .all-students .footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
  height: 60px;
  background-color: #fff;
  }

  .all-students .footer .left{
    font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #A098AE;
  }

.all-students .footer .left span{
  color:#303972;
}

.all-students .footer .right{
  display: flex;
  gap: 20px;

}

.all-students .footer .right img{
  cursor: pointer;
}

.all-students .footer .right div{
  width: 50px;
height: 50px;
border-radius: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #A098AE;
border: 2px solid #A098AE;
cursor: pointer;

}

.all-students .footer .right div.clicked{
background-color: #4D44B5;
color: white;
}


 .validated{
  background-color: #0CEF26;
}

 .refused{
  background-color: red;
}


 .pending{
  background-color: #12DDEB;
}
 
